.notFound {
  width: 100%;
  height: auto;
}

.notFound .box {
  width: 100%;
  height: auto;
  padding: 60px 30px;
  text-align: center;
  margin: auto;
}

.notFound .box h1 {
  font-size: 60px;
  font-weight: bold;
  color: #000;
  opacity: 0.7;
}

.notFound .box .bt {
  color: #3bb77e;
  background: #73737321;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 15px;
  transition: all 0.3s;
}

.notFound .box .bt:hover {
  color: #fff;
  background: #3bb77e;
}
